body{
    background-color: #00000000;
    text-align: center;
}
h1{
    color: rgb(245, 220, 220);
    font-family: 'Times New Roman', Times, serif;

}
h2{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}